<a href="https://colab.research.google.com/github/GitMishka/misc/blob/main/data_warehouse2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install snowflake-connector-python[pandas]

In [ ]:
import snowflake.connector
import pandas as pd

con = snowflake.connector.connect(
    user='YOUR_USERNAME',
    password='YOUR_PASSWORD',
    account='YOUR_ACCOUNT_URL',
    warehouse='YOUR_WAREHOUSE',
    database='YOUR_DATABASE',
    schema='YOUR_SCHEMA'
)

In [ ]:
con.cursor().execute("""
CREATE TABLE IF NOT EXISTS TEST_TABLE (
    COLUMN1 STRING,
    COLUMN2 NUMBER,
    COLUMN3 TIMESTAMP
)
""")

con.cursor().execute("""
INSERT INTO TEST_TABLE (COLUMN1, COLUMN2, COLUMN3)
VALUES ('test', 123, CURRENT_TIMESTAMP())
""")

df = pd.read_sql_query('SELECT * FROM TEST_TABLE', con)

print(df)