<a href="https://colab.research.google.com/github/GitMishka/misc/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install numpy pandas scikit-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import pairwise_distances

In [ ]:
# The values here are hypothetical and for demonstration purposes only
data = {
    'User': ['User1', 'User2', 'User3', 'User4', 'User5'],
    'Apache Beam': [5, 4, np.nan, 3, 2],
    'Apache Airflow': [3, np.nan, 3, 2, 4],
    'Google BigQuery': [np.nan, 5, 4, 2, 5],
    'Apache Flink': [4, 3, 5, 4, np.nan],
    'Apache Kafka': [5, np.nan, 4, 4, 3],
}

df = pd.DataFrame(data)
df.set_index('User', inplace=True)
df

,Apache Beam,Apache Airflow,Google BigQuery,Apache Flink,Apache Kafka
User,,,,,
User1,5.0,3.0,NaN,4.0,5.0
User2,4.0,NaN,5.0,3.0,NaN
User3,NaN,3.0,4.0,5.0,4.0
User4,3.0,2.0,2.0,4.0,4.0
User5,2.0,4.0,5.0,NaN,3.0

In [ ]:
# Fill not available values with 0
df.fillna(0, inplace=True)

# Compute the cosine similarity matrix
user_similarity = cosine_similarity(df)
user_similarity_df = pd.DataFrame(user_similarity, index=df.index, columns=df.index)
df

,Apache Beam,Apache Airflow,Google BigQuery,Apache Flink,Apache Kafka
User,,,,,
User1,5.0,3.0,0.0,4.0,5.0
User2,4.0,0.0,5.0,3.0,0.0
User3,0.0,3.0,4.0,5.0,4.0
User4,3.0,2.0,2.0,4.0,4.0
User5,2.0,4.0,5.0,0.0,3.0

In [ ]:
def similar_users(user, n):
    if user not in df.index:
        return None
    
    # Get the similar users sorted by similarity
    sim_users = user_similarity_df.sort_values(by=user, ascending=False).index[1:]
    
    # Get the top n similar users
    closest_users = sim_users[:n]
    
    return closest_users

In [ ]:
def recommend(user, n):
    if user not in df.index:
        return None

    closest_users = similar_users(user, n)
    
    # Compute the mean ratings given by the closest users
    mean_ratings = df.loc[closest_users].mean()
    
    # Get the tools that the user hasn't rated yet
    unrated_tools = df.loc[user][df.loc[user].isna()].index
    
    # Get the ratings of the unrated tools by the closest users
    unrated_tools_ratings = mean_ratings[unrated_tools]
    
    # Sort the ratings in descending order and get the top n tools
    recommendations = unrated_tools_ratings.sort_values(ascending=False)[:n]
    
    return recommendations
    print(recommendations)